<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Demande de contact sur Shoefony</h1>
    <p>Une demande de contact a eu lieu sur Shoefony de la parte de {{ contact.firstName }} {{ contact.lastName }} ({{ contact.email }})</p>
    <p>{{ contact.message }}</p>
</body>
</html>